<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticaBasesDeDatos"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_TodosDatos"
            android:exported="false" />
        <activity
            android:name=".activitiespais.MainActivityPaisListar"
            android:exported="false" />
        <activity
            android:name=".activitiespais.MainActivityPaisBorrar"
            android:exported="false" />
        <activity
            android:name=".activitiescodeisopais.MainActivityCodeIsoPaisListar"
            android:exported="false" />
        <activity
            android:name=".activitiescodeisopais.MainActivityCodeIsoPaisBorrar"
            android:exported="false" />
        <activity
            android:name=".activitiesciudad.MainActivityCiudadListar"
            android:exported="false" />
        <activity
            android:name=".activitiesciudad.MainActivityCiudadBorrar"
            android:exported="false" />
        <activity
            android:name=".activitiesusuarios.MainActivityUsuarioListar"
            android:exported="false" />
        <activity
            android:name=".activitiesusuarios.MainActivityUsuarioBorrar"
            android:exported="false" />
        <activity
            android:name=".activitiescodeisopais.MainActivityCodeIsoPaisInsertarActualizar"
            android:exported="false" />
        <activity
            android:name=".activitiesciudad.MainActivityCiudadInsertarActualizar"
            android:exported="false" />
        <activity
            android:name=".activitiespais.MainActivityPaisInsertarActualizar"
            android:exported="false" />
        <activity
            android:name=".activitiesusuarios.MainActivityUsuarioInsertarActualizar"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Tablas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>